<div
  style="height: calc(100vh - 55px); width: 100vw; display: flex; flex-direction: column; position: fixed; top: 55px; left: 0px; background: white; z-index: 10;">
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px;">
    <div>
      <div style="text-align: center; padding: 10px; font-size: 20px;">
        <span>CPU USAGE {{cpuUsageSet[0][0].toFixed(1)}}%</span>
      </div>
      <div class="chart-container" style="height:200px; position: relative; width: 200px;">
        <canvas baseChart [data]="cpuUsageSet" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="colors"
          [options]="options">
        </canvas>
      </div>
    </div>
    <div>
      <div style="text-align: center; padding: 10px; font-size: 20px;">
        <span>MEMORY USAGE {{memoryUsageSet[0][0].toFixed(1)}}%</span>
      </div>
      <div class="chart-container" style="height:200px; position: relative; width: 200px;">
        <canvas baseChart [data]="memoryUsageSet" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="colors"
          [options]="options">
        </canvas>
      </div>
    </div>
    <div>
      <div style="text-align: center; padding: 10px; font-size: 20px;">
        <span>DISKSPACE USAGE {{diskUsageSet[0][0].toFixed(1)}}%</span>
      </div>
      <div class="chart-container" style="height:200px; position: relative; width: 200px;">
        <canvas baseChart [data]="diskUsageSet" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="colors"
          [options]="options">
        </canvas>
      </div>
    </div>
    <div>
      <div style="text-align: center; padding: 10px; font-size: 20px;">
        <span>SWAP USAGE {{swapUsageSet[0][0].toFixed(1)}}%</span>
      </div>
      <div class="chart-container" style="height:200px; position: relative; width: 200px;">
        <canvas baseChart [data]="swapUsageSet" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="colors"
          [options]="options">
        </canvas>
      </div>
    </div>
  </div>
  <div style="padding:20px; padding-bottom: 10px; display: flex; justify-content: space-between;">
    <div>
      <span style="line-height: 30px;">Processes</span>
    </div>
    <div style="display: flex;">
      <div style="display: flex; padding-right: 10px;" class="search-box" tabindex="0">
        <input type="text" class="search-text" placeholder="Search process">
        <span>
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <div>
        <button class="btn btn-primary btn-sm mr-2" (click)="killSelectedProcesses()">Kill process</button>
        <button class="btn btn-primary btn-sm" (click)="getProcStats()">Refresh</button>
      </div>
    </div>
  </div>
  <div style="width: 100%; flex: 1; overflow: auto; border: 1px solid rgb(230,230,230);">
    <table class="table table-striped table-sm table-borderless" style="position: relative;">
      <thead>
        <tr>
          <th scope="col" style="position: sticky; top: 0px; background: white;">NAME</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">PID</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">PRIORITY</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">CPU USAGE</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">MEMORY</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">VIRTUAL MEMORY</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">USER</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">START TIME</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">STATE</th>
          <th scope="col" style="position: sticky; top: 0px; background: white;">COMMAND</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proc of processList">
          <td><input type="checkbox" [checked]="proc.selected"
            (change)="proc.selected = !proc.selected" ><span style="padding-left: 10px;">{{proc.name}}</span></td>
          <td>{{proc.pid}}</td>
          <td>{{proc.priority}}</td>
          <td>{{proc.cpuUsage}}</td>
          <td>{{proc.memoryUsage}}</td>
          <td>{{proc.vmUsage}}</td>
          <td>{{proc.user}}</td>
          <td>{{proc.startTime}}</td>
          <td>{{proc.state}}</td>
          <td style="overflow-wrap: break-word; max-width: 200px;">
              {{proc.command}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>