.info-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.width-200px {
    max-width: 200px;
    width: 200px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
}

.info-wrapper-container {
    overflow: auto;
}

@media (min-width:800px) {
    [class="info-wrapper-container"] {
        margin: auto;
        box-shadow: 5px 5px 5px black;
    }
    [class="info-wrapper"] {
        border-radius: 5px;
    }
}